
@font-face {
  font-display: auto;
  font-family: "font-logos";
  font-style: normal;
  font-weight: normal;
  src:url("font-logos.woff?v=1.2.0") format("woff"),url("font-logos.woff2?v=1.2.0") format("woff2"),url("font-logos.ttf?v=1.2.0") format("truetype")}

.fl-alpine::before, 
.fl-aosc::before, 
.fl-apple::before, 
.fl-archlinux::before, 
.fl-centos::before, 
.fl-coreos::before, 
.fl-debian::before, 
.fl-devuan::before, 
.fl-docker::before, 
.fl-elementary::before, 
.fl-fedora::before, 
.fl-fedora-inverse::before, 
.fl-freebsd::before, 
.fl-gentoo::before, 
.fl-linuxmint::before, 
.fl-linuxmint-inverse::before, 
.fl-mageia::before, 
.fl-mandriva::before, 
.fl-manjaro::before, 
.fl-nixos::before, 
.fl-opensuse::before, 
.fl-raspberry-pi::before, 
.fl-redhat::before, 
.fl-sabayon::before, 
.fl-slackware::before, 
.fl-slackware-inverse::before, 
.fl-tux::before, 
.fl-ubuntu::before, 
.fl-ubuntu-inverse::before, 
.fl-almalinux::before, 
.fl-archlabs::before, 
.fl-artix::before, 
.fl-budgie::before, 
.fl-deepin::before, 
.fl-endeavour::before, 
.fl-ferris::before, 
.fl-flathub::before, 
.fl-gnu-guix::before, 
.fl-illumos::before, 
.fl-kali-linux::before, 
.fl-openbsd::before, 
.fl-parrot::before, 
.fl-pop-os::before, 
.fl-rocky-linux::before, 
.fl-snappy::before, 
.fl-solus::before, 
.fl-void::before, 
.fl-zorin::before, 
.fl-codeberg::before, 
.fl-kde-neon::before, 
.fl-kde-plasma::before, 
.fl-kubuntu::before, 
.fl-kubuntu-inverse::before, 
.fl-forgejo::before, 
.fl-freecad::before, 
.fl-garuda::before, 
.fl-gimp::before, 
.fl-gitea::before, 
.fl-hyperbola::before, 
.fl-inkscape::before, 
.fl-kdenlive::before, 
.fl-krita::before, 
.fl-lxle::before, 
.fl-mxlinux::before, 
.fl-parabola::before, 
.fl-puppy::before, 
.fl-qubesos::before, 
.fl-tails::before, 
.fl-trisquel::before, 
.fl-archcraft::before, 
.fl-arcolinux::before, 
.fl-biglinux::before, 
.fl-crystal::before, 
.fl-locos::before, 
.fl-xerolinux::before, 
.fl-arduino::before, 
.fl-kicad::before, 
.fl-octoprint::before, 
.fl-openscad::before, 
.fl-osh::before, 
.fl-oshwa::before, 
.fl-prusaslicer::before, 
.fl-reprap::before, 
.fl-riscv::before, 
.fl-awesome::before, 
.fl-bspwm::before, 
.fl-dwm::before, 
.fl-enlightenment::before, 
.fl-fluxbox::before, 
.fl-hyprland::before, 
.fl-i3::before, 
.fl-jwm::before, 
.fl-qtile::before, 
.fl-sway::before, 
.fl-xmonad::before, 
.fl-cinnamon::before, 
.fl-freedesktop::before, 
.fl-gnome::before, 
.fl-gtk::before, 
.fl-lxde::before, 
.fl-lxqt::before, 
.fl-mate::before, 
.fl-vanilla::before, 
.fl-wayland::before, 
.fl-xfce::before, 
.fl-xorg::before, 
.fl-fdroid::before, 
.fl-fosdem::before, 
.fl-osi::before, 
.fl-wikimedia::before, 
.fl-mpv::before, 
.fl-neovim::before, 
.fl-thunderbird::before, 
.fl-tor::before, 
.fl-vscodium::before, 
.fl-kde::before, 
.fl-postmarketos::before, 
.fl-qt::before, 
.fl-agarimos::before, 
.fl-aix::before, 
.fl-android::before, 
.fl-antix::before, 
.fl-archbang::before, 
.fl-aryalinux::before, 
.fl-athenaos::before, 
.fl-backbox::before, 
.fl-bodhi::before, 
.fl-bunsenlabs::before, 
.fl-cereus::before, 
.fl-dietpi::before, 
.fl-eos::before, 
.fl-freedos::before, 
.fl-ghostbsd::before, 
.fl-haiku::before, 
.fl-linux-lite::before, 
.fl-linux-lite-inverse::before, 
.fl-linuxmint2::before, 
.fl-lmde::before, 
.fl-lubuntu::before, 
.fl-mabox::before, 
.fl-macos::before, 
.fl-midnightbsd::before, 
.fl-netboot::before, 
.fl-netbsd::before, 
.fl-nitrux::before, 
.fl-nobara::before, 
.fl-openmandriva::before, 
.fl-pclinuxos::before, 
.fl-pureos::before, 
.fl-q4os::before, 
.fl-rebornos::before, 
.fl-regolith::before, 
.fl-siduction::before, 
.fl-slitaz::before, 
.fl-smartos::before, 
.fl-steamos::before, 
.fl-truenas-core::before, 
.fl-trueos::before, 
.fl-tuxedoos::before, 
.fl-ubuntu-budgie::before, 
.fl-ubuntu-kylin::before, 
.fl-ubuntu-mate::before, 
.fl-ubuntu-studio::before, 
.fl-ultimate-edition::before, 
.fl-ultramarine::before, 
.fl-vxlinux::before, 
.fl-windows::before, 
.fl-xubuntu::before
 {
  display: inline-block;
  font-family: "font-logos";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fl-fw {
  text-align: center;
  width: 1em;
}
.fl-alpine::before {
  content: "\f300";
}
.fl-aosc::before {
  content: "\f301";
}
.fl-apple::before {
  content: "\f302";
}
.fl-archlinux::before {
  content: "\f303";
}
.fl-centos::before {
  content: "\f304";
}
.fl-coreos::before {
  content: "\f305";
}
.fl-debian::before {
  content: "\f306";
}
.fl-devuan::before {
  content: "\f307";
}
.fl-docker::before {
  content: "\f308";
}
.fl-elementary::before {
  content: "\f309";
}
.fl-fedora::before {
  content: "\f30a";
}
.fl-fedora-inverse::before {
  content: "\f30b";
}
.fl-freebsd::before {
  content: "\f30c";
}
.fl-gentoo::before {
  content: "\f30d";
}
.fl-linuxmint::before {
  content: "\f30e";
}
.fl-linuxmint-inverse::before {
  content: "\f30f";
}
.fl-mageia::before {
  content: "\f310";
}
.fl-mandriva::before {
  content: "\f38e";
}
.fl-fw.fl-mandriva::before {
  font-size: 0.7062068965517241em;
  line-height: 1.416015625em;
}
.fl-manjaro::before {
  content: "\f312";
}
.fl-nixos::before {
  content: "\f313";
}
.fl-opensuse::before {
  content: "\f314";
}
.fl-raspberry-pi::before {
  content: "\f315";
}
.fl-redhat::before {
  content: "\f316";
}
.fl-sabayon::before {
  content: "\f317";
}
.fl-slackware::before {
  content: "\f318";
}
.fl-slackware-inverse::before {
  content: "\f319";
}
.fl-tux::before {
  content: "\f31a";
}
.fl-ubuntu::before {
  content: "\f31b";
}
.fl-ubuntu-inverse::before {
  content: "\f31c";
}
.fl-almalinux::before {
  content: "\f31d";
}
.fl-archlabs::before {
  content: "\f31e";
}
.fl-artix::before {
  content: "\f31f";
}
.fl-budgie::before {
  content: "\f320";
}
.fl-deepin::before {
  content: "\f321";
}
.fl-endeavour::before {
  content: "\f322";
}
.fl-ferris::before {
  content: "\f323";
}
.fl-flathub::before {
  content: "\f324";
}
.fl-fw.fl-flathub::before {
  font-size: 0.7840735068912711em;
  line-height: 1.275390625em;
}
.fl-gnu-guix::before {
  content: "\f325";
}
.fl-illumos::before {
  content: "\f326";
}
.fl-kali-linux::before {
  content: "\f327";
}
.fl-fw.fl-kali-linux::before {
  font-size: 0.7496339677891655em;
  line-height: 1.333984375em;
}
.fl-openbsd::before {
  content: "\f328";
}
.fl-fw.fl-openbsd::before {
  font-size: 0.9961089494163424em;
  line-height: 1.00390625em;
}
.fl-parrot::before {
  content: "\f329";
}
.fl-pop-os::before {
  content: "\f32a";
}
.fl-rocky-linux::before {
  content: "\f32b";
}
.fl-snappy::before {
  content: "\f32c";
}
.fl-solus::before {
  content: "\f32d";
}
.fl-void::before {
  content: "\f32e";
}
.fl-zorin::before {
  content: "\f32f";
}
.fl-codeberg::before {
  content: "\f330";
}
.fl-kde-neon::before {
  content: "\f331";
}
.fl-kde-plasma::before {
  content: "\f332";
}
.fl-kubuntu::before {
  content: "\f333";
}
.fl-kubuntu-inverse::before {
  content: "\f334";
}
.fl-forgejo::before {
  content: "\f335";
}
.fl-freecad::before {
  content: "\f336";
}
.fl-garuda::before {
  content: "\f337";
}
.fl-gimp::before {
  content: "\f338";
}
.fl-gitea::before {
  content: "\f339";
}
.fl-hyperbola::before {
  content: "\f33a";
}
.fl-inkscape::before {
  content: "\f33b";
}
.fl-kdenlive::before {
  content: "\f33c";
}
.fl-krita::before {
  content: "\f33d";
}
.fl-fw.fl-krita::before {
  font-size: 0.9980506822612085em;
  line-height: 1.001953125em;
}
.fl-lxle::before {
  content: "\f33e";
}
.fl-mxlinux::before {
  content: "\f33f";
}
.fl-parabola::before {
  content: "\f340";
}
.fl-puppy::before {
  content: "\f341";
}
.fl-qubesos::before {
  content: "\f342";
}
.fl-tails::before {
  content: "\f343";
}
.fl-trisquel::before {
  content: "\f344";
}
.fl-fw.fl-trisquel::before {
  font-size: 0.9980506822612085em;
  line-height: 1.001953125em;
}
.fl-archcraft::before {
  content: "\f345";
}
.fl-arcolinux::before {
  content: "\f346";
}
.fl-biglinux::before {
  content: "\f37e";
}
.fl-crystal::before {
  content: "\f348";
}
.fl-locos::before {
  content: "\f349";
}
.fl-xerolinux::before {
  content: "\f34a";
}
.fl-arduino::before {
  content: "\f34b";
}
.fl-kicad::before {
  content: "\f34c";
}
.fl-octoprint::before {
  content: "\f34d";
}
.fl-openscad::before {
  content: "\f34e";
}
.fl-osh::before {
  content: "\f34f";
}
.fl-oshwa::before {
  content: "\f350";
}
.fl-prusaslicer::before {
  content: "\f351";
}
.fl-reprap::before {
  content: "\f352";
}
.fl-riscv::before {
  content: "\f353";
}
.fl-awesome::before {
  content: "\f354";
}
.fl-bspwm::before {
  content: "\f355";
}
.fl-dwm::before {
  content: "\f356";
}
.fl-fw.fl-dwm::before {
  font-size: 0.4165988608624898em;
  line-height: 2.400390625em;
}
.fl-enlightenment::before {
  content: "\f357";
}
.fl-fluxbox::before {
  content: "\f358";
}
.fl-fw.fl-fluxbox::before {
  font-size: 0.9980506822612085em;
  line-height: 1.001953125em;
}
.fl-hyprland::before {
  content: "\f359";
}
.fl-i3::before {
  content: "\f35a";
}
.fl-jwm::before {
  content: "\f35b";
}
.fl-qtile::before {
  content: "\f35c";
}
.fl-sway::before {
  content: "\f35d";
}
.fl-xmonad::before {
  content: "\f35e";
}
.fl-cinnamon::before {
  content: "\f35f";
}
.fl-freedesktop::before {
  content: "\f360";
}
.fl-fw.fl-freedesktop::before {
  font-size: 0.9961089494163424em;
  line-height: 1.00390625em;
}
.fl-gnome::before {
  content: "\f361";
}
.fl-gtk::before {
  content: "\f362";
}
.fl-lxde::before {
  content: "\f363";
}
.fl-lxqt::before {
  content: "\f364";
}
.fl-mate::before {
  content: "\f365";
}
.fl-vanilla::before {
  content: "\f366";
}
.fl-wayland::before {
  content: "\f367";
}
.fl-xfce::before {
  content: "\f368";
}
.fl-xorg::before {
  content: "\f369";
}
.fl-fdroid::before {
  content: "\f36a";
}
.fl-fosdem::before {
  content: "\f36b";
}
.fl-osi::before {
  content: "\f36c";
}
.fl-wikimedia::before {
  content: "\f36d";
}
.fl-mpv::before {
  content: "\f36e";
}
.fl-neovim::before {
  content: "\f36f";
}
.fl-thunderbird::before {
  content: "\f370";
}
.fl-tor::before {
  content: "\f371";
}
.fl-vscodium::before {
  content: "\f372";
}
.fl-kde::before {
  content: "\f373";
}
.fl-postmarketos::before {
  content: "\f374";
}
.fl-qt::before {
  content: "\f375";
}
.fl-agarimos::before {
  content: "\f376";
}
.fl-aix::before {
  content: "\f377";
}
.fl-android::before {
  content: "\f378";
}
.fl-antix::before {
  content: "\f379";
}
.fl-fw.fl-antix::before {
  font-size: 0.9715370018975332em;
  line-height: 1.029296875em;
}
.fl-archbang::before {
  content: "\f37a";
}
.fl-aryalinux::before {
  content: "\f37b";
}
.fl-athenaos::before {
  content: "\f37c";
}
.fl-backbox::before {
  content: "\f37d";
}
.fl-bodhi::before {
  content: "\f37f";
}
.fl-bunsenlabs::before {
  content: "\f380";
}
.fl-cereus::before {
  content: "\f381";
}
.fl-fw.fl-cereus::before {
  font-size: 0.7975077881619937em;
  line-height: 1.25390625em;
}
.fl-dietpi::before {
  content: "\f382";
}
.fl-eos::before {
  content: "\f383";
}
.fl-freedos::before {
  content: "\f384";
}
.fl-fw.fl-freedos::before {
  font-size: 0.8258064516129032em;
  line-height: 1.2109375em;
}
.fl-ghostbsd::before {
  content: "\f385";
}
.fl-haiku::before {
  content: "\f386";
}
.fl-fw.fl-haiku::before {
  font-size: 0.9394495412844037em;
  line-height: 1.064453125em;
}
.fl-linux-lite::before {
  content: "\f387";
}
.fl-linux-lite-inverse::before {
  content: "\f388";
}
.fl-linuxmint2::before {
  content: "\f389";
}
.fl-lmde::before {
  content: "\f38a";
}
.fl-lubuntu::before {
  content: "\f38b";
}
.fl-mabox::before {
  content: "\f38c";
}
.fl-macos::before {
  content: "\f38d";
}
.fl-midnightbsd::before {
  content: "\f38f";
}
.fl-netboot::before {
  content: "\f390";
}
.fl-fw.fl-netboot::before {
  font-size: 0.6684073107049608em;
  line-height: 1.49609375em;
}
.fl-netbsd::before {
  content: "\f391";
}
.fl-nitrux::before {
  content: "\f392";
}
.fl-nobara::before {
  content: "\f393";
}
.fl-openmandriva::before {
  content: "\f394";
}
.fl-pclinuxos::before {
  content: "\f395";
}
.fl-pureos::before {
  content: "\f396";
}
.fl-q4os::before {
  content: "\f3a0";
}
.fl-fw.fl-q4os::before {
  font-size: 0.9980506822612085em;
  line-height: 1.001953125em;
}
.fl-rebornos::before {
  content: "\f3a1";
}
.fl-regolith::before {
  content: "\f3a2";
}
.fl-fw.fl-regolith::before {
  font-size: 0.8504983388704319em;
  line-height: 1.17578125em;
}
.fl-siduction::before {
  content: "\f3a3";
}
.fl-slitaz::before {
  content: "\f3a4";
}
.fl-smartos::before {
  content: "\f3a5";
}
.fl-steamos::before {
  content: "\f3a6";
}
.fl-truenas-core::before {
  content: "\f3a7";
}
.fl-trueos::before {
  content: "\f3a8";
}
.fl-tuxedoos::before {
  content: "\f3a9";
}
.fl-ubuntu-budgie::before {
  content: "\f3aa";
}
.fl-ubuntu-kylin::before {
  content: "\f3ab";
}
.fl-ubuntu-mate::before {
  content: "\f3ac";
}
.fl-ubuntu-studio::before {
  content: "\f3ad";
}
.fl-ultimate-edition::before {
  content: "\f3ae";
}
.fl-ultramarine::before {
  content: "\f3af";
}
.fl-vxlinux::before {
  content: "\f3b0";
}
.fl-windows::before {
  content: "\f3b1";
}
.fl-xubuntu::before {
  content: "\f3b2";
}