
@font-face {
  font-display: auto;
  font-family: "quickemu-logos-font";
  font-style: normal;
  font-weight: normal;
  src:url("quickemu-logos-font.woff?v=0.0.4") format("woff"),url("quickemu-logos-font.woff2?v=0.0.4") format("woff2"),url("quickemu-logos-font.ttf?v=0.0.4") format("truetype")}

.fl-alpine::before
 {
  display: inline-block;
  font-family: "quickemu-logos-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fl-fw {
  text-align: center;
  width: 1em;
}
.fl-alpine::before {
  content: "\f300";
}